<html ng-app="app">
  <head>
    <link rel="stylesheet" href="bootstrap.css"></link>
  </head>
  <body>
    <h1>Feedback 
      <span ng-show="workshop.attendee">from {{workshop.attendee}}</span>
    </h1>
    
    Name <br/>
    <input type="text" ng-model="workshop.attendee"></input><br/>

    Score <br/> 
    <input type="text" ng-model="workshop.score"></input><br/>

    Feedback <br/>
    <textarea 
      ng-model="workshop.feedback"
      placeholder="Reason for scoring a {{workshop.score || 0}}">
    </textarea>

    <checkhuman valid="client.isHuman"></checkhuman> <br/>

    <button ng-disabled="!client.isHuman">Send Feedback</button>

    {{3.9568987876 | number:3}} <br/>
    {{1288323623006 | date:'MM/dd/yyyy h:mma'}} <br/>
    {{1.15 | currency}}

    <script src="angular.js"></script>
    <script src="app.js"></script>
    <script src="check-human.js"></script>
  </body>
</html>